body {
  background: url("assets/space.jpg");
  color: #fff;
}

#labirinth {
  position: relative;
  top: 0;
  left: 0;
  background: #000;
  border: 2px solid #fff;
  width: 0;
  height: 0;
}

#labirinth .vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 10%;
  background: #fff;
}

#labirinth .horizontal {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 2px;
  background: #fff;
}

#labirinth #hero {
  position: absolute;
  z-index: 1;
  top: 400;
  left: 400;
}

#labirinth .planet {
  position: absolute;
  top: 0;
  left: 0;
}
